body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 110px;
    background-color: grey;
}

.container{
    background: fixed;
    background-color: rgba(255, 255, 255, 0.474);
    border-radius: 30px;
    border: 2px solid black;
    width: 400px;
    height: 420px;
}

#myaw{
    margin-left: 50px;
    width: 290px;
    height: 30px;
    border-radius: 30px;
}

button {
    width: 300px;
    height: 40px;
    margin-left: 50px;
    border-radius: 10px;
    background-color: black;
    color: white;
    transition: all ease-in 0.5s;
}

button:hover{
    color: black;
    background-color: white;
}

h2{
    margin-top: 30px;
    margin-left: 170px;
}

#shish{
    font-size: small;
    margin-left: 30px;
}

p{
    margin-left: 100px;
    font-weight: bold;
}

input{
    color: black;
    transition: all 0.5s ease-in;
}

input:hover{
    transform: scale(1.2);
}

a{
    text-decoration:none ;
    color: black;
    transition: all 0.1s ease-in;
}

a:hover{
    text-decoration: underline;
}

input::placeholder{
    margin-left: 50px;
}